<div class="row mt-3">
  <div class="col-md-12">
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Score</th>
          <th scope="col">Right Streak</th>
          <th scope="col">Highest Right Streak</th>
          <th scope="col">Wrong Streak</th>
          <th scope="col">Highest Wrong Streak</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <%= current_user.score %></td>
          <td><%= current_user.user_stat.right_streak %></td>
          <td><%= current_user.user_stat.max_right_streak %></td>
          <td><%= current_user.user_stat.wrong_streak %></td>
          <td><%= current_user.user_stat.max_wrong_streak %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<% if @question.present? %>
  <% question = @question %>
  <% answered_question = current_user.answered(question)%>
  <div class="row align-items-center">
    <div class="col-md-9 offset-md-1 question-col">
      <div class="row">
        <div class="col-md-12">
          <p class="question-title" data-answered="<%= !answered_question.nil? %>"><%= question.title %></p>
        </div>
      </div>
      <div class="row">
        <% if !answered_question.nil? %>
          <% question.options.each do |option| %>
            <div class="col-md-6 options">
              <div class="option-link">
                <p class="option-<%= option.id %> <%= 'correct-answer' if option.correct %> <%= 'wrong-answer' if answered_question.user_answer == option.id && !option.correct %>">
                  <%= option.name %>
                </p>
                <%# end %>
              </div>
            </div>
          <% end %>
        <% else %>
          <% question.options.each do |option| %>
            <div class="col-md-6 options">
              <%= link_to check_answer_question_path(question, answer: option.id), class:"option-link", method: :post, remote: true do %>
                <p class="option-<%= option.id %>">
                  <%= option.name %>
                </p>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1 offset-md-2">
      <div id="upvote-<%=@question.id %>">
        <%= render 'questions/upvote', question: @question %>
      </div>
    </div>
    <div class="col-md-1 ml-2">
      <div id="downvote-<%=@question.id %>">
        <%= render 'questions/downvote', question: @question %>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center" style="height: 10vh;">
    <div class="col-md-1 offset-md-7 text-right">
      <%= link_to  "Next", questions_path(tag: params[:tag]), class: "btn btn-primary next-button" %>
    </div>
  </div>
<% else %>
  <h5 class="mt-5 text-center">You have completed the Trivia! </h5>
<% end %>
