<div class="row devise-form-row align-items-center justify-content-center">
  <div class="devise-form-column col-sm-8 col-md-6">
    <div class="devise-form-content text-center">
      <p class="heading">Welcome Back</p>
      <p class="helper-content mt-4">Sign in to your account to continue</p>
    </div>
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs text-left">
        <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" },
                placeholder: 'user@example.com'
                 %>
        <%= f.input :password,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "current-password" },
                placeholder: 'Password'
                 %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Sign In", class: "btn btn-block btn-primary sign-in-button" %>
      </div>
    <% end %>
    <div class="shared-links mt-3 mb-3 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
